---
import SEO from '../components/seo/SEO.astro';
import '../styles/global.css';
const { title, description } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <SEO title={title} description={description} />
</head>
<body class="bg-white text-gray-900 font-sans">
  <slot />
</body>
</html>
